#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tile{
  background-color: aqua;
  width: 9vw;
  height: 9vw;

  display: flex;
  justify-content: center;
  align-content: center;
}

.hidden-tile{
  margin: auto;
  width: 9vw;
  height: 9vw;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-content: center;
}

.board{
  background-color: antiquewhite;
  width : 30vw;
  height : 30vw;
  padding: auto;
  
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-content: space-around;
  justify-content: space-around;
}

.tile-button{
  width: min-content;
  height: min-content;
}